<header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url(images/img_bg_2.jpg);" data-stellar-background-ratio="0.5">
    <div id="fh5co-event" class="fh5co-bg" style="background-image:url(images/img_bg_3.jpg);">
        <div class="overlay"></div>
        <nav class="fh5co-nav" role="navigation">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                        <div id="fh5co-logo"><a href="index.html">By Chance<strong>.</strong></a></div>
                    </div>
                    <div class="col-xs-10 text-right menu-1">
                        <ul>
                            <li class="active"><a href="#/">Home</a></li>
                            <li class="pink active" ng-hide="!loginStatus || loginStatus.status != 'connected'">Welcome {{user}}</li>
                            <li class="pink" ng-click="logout()" ng-hide="!loginStatus || loginStatus.status != 'connected'">Logout</li>
                            &nbsp;
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <div class="form">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <span>Providing a new social experience</span>
                <h2>By Chance</h2>
            </div>
            <div>
                <ng-map center="current-location">
                    <div ng-repeat="i in users">
                        <marker position="{{i.lat}}, {{i.lon}}" title="{{i.name}}"></marker>
                    </div>
                </ng-map>
            </div>
            <!-- <form name="myForm">
            Your friend name:
            <input type="text" ng-model="friend_name" placeholder="Enter name here">
        </form> -->
            <div ng-hide="loginStatus.status == 'connected'">
                <div class=" text-center fh5co-heading login_button">
                    <h3>Login with Facebook</h3>
                    <button class="btn btn-primary" ng-click="login()">Connect with Facebook</button>
                    &nbsp;
                </div>
                <div class=" text-center fh5co-heading login_button">
                    <h3>Share on Facebook</h3>
                    <button class="btn btn-success" ng-click="share()">Share on Facebook</button>
                    &nbsp;
                </div>
            </div>
            <div class="col-md-8 col-md-offset-2 text-center">
                <div ng-hide="!loginStatus || loginStatus.status != 'connected'" style="font-family: 'Sacramento', Arial, serif;">
                    <h1 style="margin-top: 200px"><span class="pink" ng-show="result.length != 0">{{result[0].name}} is near you, about {{result[1]}} miles.</span></h1>
                    <div id="music" ng-click="music()" ng-hide="result.length != 0">No one is nearby. Play on me</div>
                </div>
                <div ng-repeat="i in users | filter:friend_name" class="custom" ng-show="loginStatus.status == 'connected'">
                    <div class="pink">{{i.name}}</div>
                    <img style="width: 100px; height:100px" ng-src="{{i.image_url}}">
                    <div><a href="#/users/{{i._id}}" ng-hide="!loginStatus || loginStatus.status != 'connected'">Show</a></div>
                </div>
            </div>
        </div>
    </div>
</header>
