<div style="background-image:url(images/img_bg_5.jpg)">
    <div ng-repeat="i in users" class='user'>
        <img class="custom" style="width: 200px; height:200px; border-radius: 100px; margin-right: 50px;" ng-src="{{i.image_url}}">
        <div class="custom">
            <div class="left" style="margin-right: 200px">
                <div>Nick name: {{i.name}}</div>
                <div>Created At: {{i.createdAt | date: YYYY-mm-dd}}</div>
                <div>Email: {{i.email}}</div>
                <div>Age: {{i.age_range}}</div>
                <div>Country: {{i.Country}}</div>
                <div>Zipcode: {{i.Zipcode}}</div>
                <div>Birthday: {{i.Birthday}}</div>
            </div>
            <div class="right">
                <div>Ethnicity: {{i.Ethnicity}}</div>
                <div>Occupation: {{i.Occupation}}</div>
                <div>Status: {{i.Status}}</div>
                <div>Preference: {{i.Preference}}</div>
                <div>Education: {{i.emailEducation}}</div>
                <div>Body type: {{i.Bodytype}}</div>
                <div>Interest: {{i.Interest}}</div>
                <div>Sports: {{i.Sports}}</div>
            </div>
        </div>
        <div class="custom right"><a href="#/">Back</a></div>
    </div>
    <form method="post" class="fh5co-section-gray form">
        <h3 class="pink">Update Information</h3>
        <div>
            <div class="form-group row custom">
                <label for="country" class="custom-label">Country</label>
                <div>
                    <input class="form-control custom-form" type="text" value="Country" id="country" ng-model="new_profile.country">
                </div>
            </div>
            <div class="form-group row custom">
                <label for="zipcode" class="custom-label">Zipcode</label>
                <div>
                    <input class="form-control custom-form" type="text" value="Zipcode" id="zipcode" ng-model="new_profile.zipcode">
                </div>
            </div>
            <div class="form-group row custom">
                <label for="birthday" class="custom-label">Birthday</label>
                <div>
                    <input class="form-control custom-form" type="text" value="birthday" id="birthday" ng-model="new_profile.birthday">
                </div>
            </div>
            <div class="form-group row custom">
                <label for="ethnicity" class="custom-label">Ethnicity</label>
                <div>
                    <input class="form-control custom-form" type="text" value="Ethnicity" id="ethnicity" ng-model="new_profile.ethnicity">
                </div>
            </div>
            <div class="form-group row custom">
                <label for="occupation" class="custom-label">Occupation</label>
                <div>
                    <input class="form-control custom-form" type="text" value="Occupation" id="occupation" ng-model="new_profile.occupation">
                </div>
            </div>
            <div class="form-group row custom">
                <label for="martial_status" class="custom-label">Status</label>
                <div>
                    <input class="form-control custom-form" type="text" value="martial_status" id="martial_status" ng-model="new_profile.martial_status">
                </div>
            </div>
        </div>
        <div class="form-group row custom">
            <label for="seeking">Preference</label>
            <select name="seeking" ng-model="new_profile.seeking" name="seeking">
                <option value="male">male</option>
                <option value="female">female</option>
            </select>
            <br>
        </div>
        <div class="form-group row custom">
            <label for="children">Do you have children?</label>
            <select name="children" ng-model="new_profile.children" name="children">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
            </select>
            <br>
        </div>
        <div class="form-group row custom">
            <label for="education">Education</label>
            <select name="education" ng-model="new_profile.education" name="education">
                <option value="Some College"> Some College</option>
                <option value="Still in College">Still in College</option>
                <option value="Associate">Associate</option>
                <option value="Bachelors">Bachelors</option>
                <option value="Masters">Masters</option>
                <option value="Doctorate">Doctorate</option>
                <option value="None">None</option>
            </select>
            <br>
        </div>
        <div class="form-group row custom">
            <label for="faith">Faith</label>
            <select name="faith" ng-model="new_profile.faith" name="faith">
                <option value="Christian">Christian</option>
                <option value="Buddhist">Buddhist</option>
                <option value="Muslim">Muslim</option>
                <option value="Catholic">Catholic</option>
                <option value="Atheist">Atheist</option>
                <option value="None">None</option>
            </select>
            <br>
        </div>
        <div class="form-group row custom">
            <label for="smoke">Smoke</label>
            <select name="smoke" ng-model="new_profile.smoke" name="smoke">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
            </select>
            <br>
        </div>
        <div class="form-group row custom">
            <label for="drink">Drink</label>
            <select name="drink" ng-model="new_profile.drink" name="drink">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
            </select>
            <br>
        </div>
        <div class="form-group row custom">
            <label for="body">Body Type</label>
            <select name="body" ng-model="new_profile.body" name="body">
                <option value="Slim">Slim</option>
                <option value="Average">Average</option>
                <option value="Athletic">Athletic</option>
                <option value="Heavy">Heavy</option>
                <option value="None">None</option>
            </select>
            <br>
        </div>
        <div class="form-group row custom">
            <label for="animal">Dog or Cat Person?</label>
            <select name="animal" ng-model="new_profile.animal" name="animal">
                <option value="Dog">Dog</option>
                <option value="Cat">Cat</option>
                <option value="Both">Both</option>
                <option value="Neither">Neither</option>
            </select>
            <br>
        </div>
        <div class="form-group row custom">
            <label for="age_range">Select Age Preference</label>
            <select name="age_range" ng-model="new_profile.age_range" name="age_range">
                <option value="18-23">18-23</option>
                <option value="24-28">24-28</option>
                <option value="29-34">29-34</option>
                <option value="34-39">34-39</option>
                <option value="40-45">40-45</option>
                <option value="45-50">45-50</option>
                <option value="55+">55+</option>
            </select>
            <br>
        </div>
        <h3 class="pink"> Interests </h3>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="dining" ng-model="new_profile.dining">Dining</label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="coffee_tea" ng-model="new_profile.coffee_tea">Coffee & Tea</label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="cooking" ng-model="new_profile.cooking">Cooking</label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="shopping" ng-model="new_profile.shopping">Shopping</label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="movies" ng-model="new_profile.movies">Movies</label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="television" ng-model="new_profile.television">Television</label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="music" ng-model="new_profile.music">Music</label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="games" ng-model="new_profile.games">Games</label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="fishing" ng-model="new_profile.fishing">Fishing</label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="camping" ng-model="new_profile.camping">Camping</label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="travel" ng-model="new_profile.travel">Travel</label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="museums" ng-model="new_profile.museums">Museums</label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="theatres" ng-model="new_profile.theatres">Theatres</label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="art" ng-model="new_profile.art">Art</label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="anime" ng-model="new_profile.anime">Anime</label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="photography" ng-model="new_profile.photography">Photography</label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="gardening" ng-model="new_profile.gardening">Gardening</label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="crafts" ng-model="new_profile.crafts">Crafts</label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="computers" ng-model="new_profile.computers">Computers</label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="technology" ng-model="new_profile.technology">Technology</label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="karoke" ng-model="new_profile.karoke">Karoke</label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="books" ng-model="new_profile.books">Books</label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="writing" ng-model="new_profile.writing">Writing</label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="cars" ng-model="new_profile.cars">Cars</label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="coding" ng-model="new_profile.coding">Coding</label>
        </div>
        <h3 class="pink"> Sports </h3>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="walking" ng-model="new_profile.walking">Walking</label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="hiking" ng-model="new_profile.hiking">Hiking</label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="running" ng-model="new_profile.running">Running</label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="cycling" ng-model="new_profile.cycling">Cycling</label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="dancing" ng-model="new_profile.dancing">Dancing</label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="swimming" ng-model="new_profile.swimming">Swimming</label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="tennis" ng-model="new_profile.tennis">Tennis</label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="bowling" ng-model="new_profile.bowling">Bowling</label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="skiing" ng-model="new_profile.skiing">Skiing</label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="golf" ng-model="new_profile.golf">Golf</label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="martial_arts" ng-model="new_profile.martial_arts">Martial Arts</label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="motorsports" ng-model="new_profile.motorsports">Motorsports</label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="baseball" ng-model="new_profile.baseball">Baseball</label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="basketball" ng-model="new_profile.basketball">Basketball</label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="football" ng-model="new_profile.football">Football</label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="hockey" ng-model="new_profile.hockey">Hockey</label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="aerobics" ng-model="new_profile.aerobics">Aerobics</label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="weights" ng-model="new_profile.weights">Weights</label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="rock_climing" ng-model="new_profile.rock_climing">Rock Climbing</label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="soccer" ng-model="new_profile.soccer">Soccer</label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="surfing" ng-model="new_profile.surfing">Surfing</label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="table_tennis" ng-model="new_profile.table_tennis">Table Tennis</label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="volleyball" ng -model="new_profile.volleyball">Volleyball</label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="yoga_pilates" ng-model="new_profile.yoga_pilates">Yoga & Pilates</label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="badminton" ng-model="new_profile.badminton">Badminton</label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="snowboarding" ng-model="new_profile.snowboarding">Snowboarding</label>
        </div>
        <div>
            <button class="active" style="background-color: #F14E95; color: white; border-radius: 15px; border: none; padding: 5px 20px" ng-click="addprofile(users[0]._id) ">Update</button>
        </div>
    </form>
</div>
